<h1>Timeline</h1>
<!-- <form action='/write'method='post'> -->
<ul>
    <% @shows.each do |b| %>
    <li>
        <p class="bg-info"> <%= b.user.email %> : </p>
    <div class="well">
    <%= b.content %>
    </div>
    
        <ol>
        <% b.comments.each do |c| %>
        <li><%= c.user.email %> : <%=c.msg%></li>
        <% end %>
        </ol>
    </li>
    <% end %>
</ul>